extends layout

block content
  h1 Enter a one rep max for each lift to get started
  br
  br
  form(method="POST" action="/workingmax")
    h2 Overhead Press
    input(
      type='text'
      name='pressMax'
      class='formInput'
    )
    h2 Deadlift
    input(
      type='text'
      name='deadMax'
      class='formInput'
    )
    h2 Bench Press
    input(
      type='text'
      name='benchMax'
      class='formInput'
    )
    h2 Squat
    input(
      type='text'
      name='squatMax'
      class='formInput'
    )
    br
    input(type="submit" value="Calculate" class="btn btn-outline-light" id="calcButton")